<ul class="books">
  <li>
    <span><%= l(loaned_book.date_loaned) %></span>
    <span><%= l(loaned_book.date_due) %></span>
    <span><%= l(loaned_book.date_returned) %></span>
    <span><%= loaned_book.quantity %></span>
  </li>
</ul>
