<% provide :title, t(".books") %>

<main class="withNavBar flex flex-column flex-1 items-start pb-3 pt-10 px-16">
  <div class="relative mx-auto w-full wf-feed grid-col" style="--num-cards: 4; --feed-gap: 2rem;">
    <header
      class="flex flex-wrap overflow-x-auto relative justify-between items-center self-stretch mb-6 h-14 no-scrollbar">

      <h3 class="typo-headline"><%= t ".all_books" %></h3>
    </header>
    <div class="grid gap-8 grid-cols-4">
      <%= render @books %>
    </div>
  </div>
</main>
