@import 'color';

html{
  font-family: sans-serif;
  font-size: 14px;
  background-color: $bg_main;
}

img{
  max-width: 100%;
  border-style: none;
}

a{
  text-decoration: none;
}

main{
  display: block;
}

.category-tree{
  width: 1270px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.breadcrumb{
  display: flex;
  align-items: center;
}

.style{
  &__ProductImageStyle{
    padding: 16px 0 16px 16px;
    position: relative;
  }

  &__StyledSperate{
    margin: 0 12px;
    width: 1px;
    background: $gray_95 none repeat scroll 0% 0%;
    flex-shrink: 0;
  }

  &__StyleProductContent{
    flex: 1 1 0%;
  }

  &__SocialShareStyle{
    display: flex;
    margin-top: 24px;
    align-items: center;
  }

  &__Text{
    font-size: 15px;
    line-height: 24px;
    color: $gray_14;
  }

  &__Icon{
    margin-left: 8px;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    cursor: pointer;
  }

  &__Sperator{
    width: 1px;
    height: 20px;
    background-color: $gray_95;
    margin-left: 16px;
    margin-right: 16px;
  }

  &__LikeInfo{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
  }

  &__StyledReview{
    display: flex;
    align-items: center;
  }

  &__BelowTitleSperator{
    width: 1px;
    height: 12px;
    background-color: $gray_78;
    margin-left: 8px;
    margin-right: 8px;
  }

  &__StyledQuantityRead{
    font-size: 15px;
    line-height: 24px;
    color: $gray_31;
  }

  &__Wrapper{
    display: flex;
    margin-bottom: 16px;
    background-color: $white;
    border-radius: 4px;
  }

  &__RecommendBook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    overflow: hidden;
    position: relative;
  }
}

.BlockTitle{
  &__Wrapper{
    color: $gray_20;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 8px 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
  }
}

.container{
  width: 1270px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.group-images{
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-images{
  position: relative;
  display: flex;
  width: 444px;
  height: 444px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header{
  padding: 16px 28px 16px 0px;
  position: relative;
}

.brand{
  display:flex;
  margin-top: 8px;
}

.bestseller{
  display: flex;
  align-items: center;
}

.bestseller p {
  margin: 0px;
  font-size: 13px;
  line-height: 20px;
}

.bestseller p a{
  color: $blue;
}

.title{
  margin: 0 0 4px;
  color: $gray_14;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.below-title{
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.number{
  display: block;
  cursor: pointer;
  margin-left: 8px;
  color: $gray_31;
  font-size: 15px;
  line-height: 24px;
}

.body{
  display: flex;
  padding: 0px 24px 0px 0px;
  border-radius: 4px;
  background-color: $white;
}

.content{
  padding: 0 8px 8px;
  display: inline-block;
  color: $gray_14;
  line-height: 21px;
  text-align: justify;
  border-radius: 4px;
}

.descrip{
  width: 80%;
}

.left{
  flex: 1 1 0%;
}

.right{
  width: 300px;
  margin-left: 20px;
  padding-top: 30px;
}

.group{
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: $white;
}

.left .group .content table{
  width: 100% !important;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.left .group .content table tr{
  font-size: 13px;
  border-bottom: 0px none;
}

.left .group .content table tr td{
  padding: 10px 15px;
}

.left .group .content table tr td:first-child {
  width: 220px;
  vertical-align: top;
  color: $gray_31;
  font-size: 13px;
  font-weight: 500;
  background: $near_white none repeat scroll 0% 0%;
}

.left .group .content table tr td:last-child {
  flex: 1 1 0%;
  border-right: 0px none;
}

.breadcrumb-item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: $breadcrumb-items;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  white-space: nowrap;
}

.icon{
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.icon.icon-next{
  margin-left: 5.5px;
  margin-right: 8.5px;
  color: $color-icon;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
