@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo {
  color: white;
}

#logo:hover {
  color: white;
}

$bg_main: #F5F5FA;
$color-icon: #808089;
$breadcrumb-items: #808089;

$bright_gray: #ECECEC;
$gray_input: #bbb;
$gray_14: #242424;
$gray_20: #333333;
$gray_31: #4F4F4F;
$gray_32: #555454;
$gray_40: #787878;
$gray_45: #999999;
$gray_75: #C4C4CF;
$gray_78: #C7C7C7;
$gray_95: #F2F2F2;
$gray_97: #F4F4F4;

$near_white: #EFEFEF;
$white : #FFFFFF;

$blue: #0D5CB6;
$blue_notice: #31708f;

$primary-red: red;
$red_salsa: #FF3945;
$red_salsa_hover: #fc6d76;
$red_alert: #a94442;

$shadow: rgba(0, 0, 0, 0.05);

$color--black: #000000;
$color--light-grey: #E6E6E6;
$color--grey: #CCCCCC;
$color--dark-grey: #7B7B7B;

$border-table: #e9e9e9;
$border--alert-notice: #bce8f1;
$border--alert-danger: #ebccd1;
$bg--alert-notice: #d9edf7;
$bg--alert-danger: #f2dede;
$row-odd-table: #fcfcfc;
$hover-row-table: #f5f5f5;
$a-tag-table: #a0a5b1;
$view-icon: #03A9F4;
$delete-icon: #E34724;
$edit-icon: #FFC107;

html {
  --theme-active: rgba(82, 88, 102, 0.2);
  --theme-hover: rgba(82, 88, 102, 0.12156862745098039);
  --theme-background-primary: #fff;
  --theme-background-secondary: #f5f8fc;
  --theme-label-primary: #0e1217;
  --theme-label-tertiary: #525866;
  --theme-label-quaternary: rgba(82, 88, 102, 0.6392156862745098);
  --theme-label-link: #153ce0;
  --theme-label-invert: #fff;
  --theme-divider-secondary: rgba(82, 88, 102, 0.4);
  --theme-divider-tertiary: rgba(82, 88, 102, 0.2);
  --theme-shadow2: 0 0.375rem 0.375rem -0.125rem rgba(168, 179, 207, 0.4);
}
