@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo {
  color: white;
}

#logo:hover {
  color: white;
}

$bg_main: #F5F5FA;
$color-icon: #808089;
$breadcrumb-items: #808089;

$bright_gray: #ECECEC;
$gray_input: #bbb;
$gray_14: #242424;
$gray_20: #333333;
$gray_31: #4F4F4F;
$gray_78: #C7C7C7;
$gray_95: #F2F2F2;

$near_white: #EFEFEF;
$white : #FFFFFF;

$blue: #0D5CB6;

$primary-red: red;
$red_salsa: #FF3945;
